[Unit]
Description=Astra Monitor - Custom Nginx with RTMP
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/nginx/sbin/nginx
ExecStop=/usr/local/nginx/sbin/nginx -s stop
ExecReload=/usr/local/nginx/sbin/nginx -s reload
PIDFile=/run/nginx.pid
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target